@using SHOP_MVC.Models.ViewModels
@model HomePageView
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<div class="container row mb-5 mx-auto">
    <div class="col-2">
        <div class="list-group">
        @foreach (var category in Model.Categories)
        {
            <a class="list-group-item list-group-item-action" asp-controller="" asp-action="" asp-route-catId="@category.Id">@category.Title</a>
        }
        </div>
    </div>
    <div class="col">
        <img src="http://myphonebay.com/wp-content/uploads/2020/12/banner.jpg" class="img-fluid rounded" alt="BANNER">
    </div>
</div>
<p class="text-primary">Случайные товары</p>
<div class="d-flex p-2">
    @foreach (var product in Model.Products)
    {
        <div class="card m-2" style="width: 18rem;">
            <img src="@product.Image" class="card-img-top" alt="@product.Title">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text">@product.Description</p>
                <p class="card-text">@product.Price</p>
                <a class="btn btn-primary" data-productId="@product.Id">Добавить в корзину</a>
            </div>
        </div>
    }
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-primary').click(function () {
            var productId = $(this).data('productid');
            console.log(productId);
            $.ajax({
                url: '/Cart/Add/',
                type: 'POST',
                data: { productId: productId },
                success: function (response) {
                    toastr.success('Product added to cart successfully!');
                },
                error: function (xhr, status, error) {
                    toastr.error('Error adding product to cart');
                }
            });
        });
    });
</script>